<div class="container">
  <div class="about_title">About Us</div>
  <br>
  <section>
    <div class="about_section_title">Who are We?</div>
    <div class="about_section_content">We are three Brandeis undergradute students practicing their web development skills! If you want to learn more about us, <a href="/bio" style="color: rgb(71, 118, 245);;">click here</a> or visit the Bio tab above.</div>
  </section>
  <br>
  <section>
    <div class="about_section_title">What's our problem?</div> 
    <div class="about_section_content">As Brandeis students, we love utalizing all the resources our campus has to offer. The problem is that we don't always know where or when these resources are available. It can be inconvient to go through all of your class pages to find your professor and TA office hours. And even worse, what if you need to see a professor when you arn't enrolled to take a class with. You have to email them to discover their hours! For these reasons and more, we belive there is an absolute need to consolidate campus resource information into one centralized location.</div>
  </section>
  <br>
  <section>
    <div class="about_section_title">What's our solution?</div>
    <div class="about_section_content">To centralize all of Brandeis's academic resource information, we created Brandeis Timetable! Brandeis Timetable is an easy to navigate, online databse containing all of your professors's and TA's office hours and location. Now you will never have to search for your resources. We even included the BUGS tutoring hours for added convience. In the future we hope to add the the rest of the campus hours including the dining service hours, the office hours of our studen union representatives, the hours of various events on campus, and more! Stay tuned!</div>
  </section>
  <br>
  <section>
    <div class="about_section_title">IDK</div>
    <div class="about_section_content">Place holder for additional information</div>
  </section>
  
  
</div>
