<div class="container">
  <div class="col-sm-6">
    <img src="images/Andrew_profile.jpg" alt="">
  </div>
    <h1>About Andrew</h1>
    <p>
      Andrew Chen is a rising junior double majoring in Computer Science and music composition.
    </p>
  </div>
