<div class="container">
  <div class="col-sm-6">
    <img src="images/Andrew_profile.jpg" alt="">
  </div>
    <h1>About Andrew</h1>
    <p>
      Andrew Chen is a rising junior double majoring in Computer Science and music composition.
      He has been playing the piano for 15 years and clarinet for 11 years and is a proud member of the Brandeis Wellesley Orchestra.
      During his free time, he enjoys composing music, writing code, studying, and socializing with others.
    </p>
  </div>
