<div class="container">
  <div class="col-sm-12">
    <h1>Meet our Team</h1>
  </div>
  <div class="col-sm-4">
    <h1>Julian Berlin</h1>
    <a href="/julian">Read more about Julian</a>
    <img src="images/Julian.jpg" alt="App designer Julian Berlin" class="bio_image">
  </div>
  <div class="col-sm-4">
    <h1>Andrew Chen</h1>
    <a href="/andrew">Read more about Andrew</a>
    <img src="images/Andrew_profile.jpg" alt="App designer Andrew Chen" class="bio_image">
  </div>
  <div class="col-sm-4">
    <h1>Tianqi Zhao</h1>
      <a href="http://tianqizhao.com">Click here to view Tianqi's personal website</a>
      <img src="images/IMG_5422.jpg" alt="App designer Tianqi Zhao" class="bio_image">
  </div>
</div>
