<div class="container">
  <div class="col-sm-6">
    <h2>Computer Science Department</h2>
    <ul>
      <li>COSI 152A</li>
      <p>TA List</p>
      <p>None</p>
      <li>COSI 21A</li>
    <ul>
      <br>
    <h2>Music Department</h2>
    <p>MUS 5A</p>
  </div>
</div>
