<div class="container">
    <h1>Add Course Information Here!</h1>
      <form action="/gridEditor" method="post">
        <label for="prof_name">Professor (Ex. First Last)</label>
        <input type="text" name="prof_name" value="">
        <br>
        <label for="department">Department/Program (Ex. ANTH)</label>
        <input type="text" name="department" value="">
        <br>
        <label for="courseid">Course ID (EX. ANTH_1A)</label>
        <input type="text" name="courseid" value="">
        <br>
        <label for="prof_hours">Professsor's Office Hours (EX. M:8am-1pm, T:8am-1pm, R:1pm-2pm)</label>
        <input type="text" name="prof_hours" value="">
        <br>
        <label for="prof_office">Professsor's Office Location (EX. Olin-Sang 101)</label>
        <input type="text" name="prof_office" value="">
        <br>
        <!-- <label for="ta_name">TA name</label>
        <input type="text" name="ta_name" value="">
        <br>
        <input class="button" type="submit" value="submit">
        -->
      </form>
    </div>
  </div>