<div class="container">
  <div class="col-sm-6">
    <img src="images/logo.jpg" alt="">
  </div>
  <div class="col-sm-6">
    <h1>Welcome!</h1>
    <p> There will be a search bar here...</p>
    <p> Tags: </p>
    <ul>
      <li>Search by Professor</li>
      <li>Search by Bug Tutors</li>
      <li>Search by Courses</li>
      <li>Search by TA Names</li>
    </ul>
  </div>
</div>
