<div class="container">
  <div class="col-sm-6">
    <img src="public/images/logo.jpg" alt="">
  </div>
  <div class="col-sm-6">
    <h1>Welcome!</h1>
    <p> There will be a search bar here...</p>
    <p> Tags: </p>
    <ul>
      <li>Search by Professor</li>
      <li>Search by Bug Tutors</li>
      <li>Search by Courses</li>
      <li>Search by TA Names</li>
    </ul>
  </div>
  <table> <caption>Sample Database</caption>
    <thead>
      <tr>
        <th>Department</th>
        <th>Professor</th>
        <th>Course ID</th>
        <th>TAs</th>
        <th>BUGS Tutors</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Anthropology</td>
        <td>Professor XYZ</td>
        <td>Anth2</td>
        <td>John, Cindy, Mac</td>
        <td>Chris</td>
      </tr>
      <tr>
          <td>Anthropology</td>
          <td>Professor ABC</td>
          <td>Anth55</td>
          <td>Q, W, E, R, T, Y, U, I, O, P, ?BGVSGFBFDGBFS</td>
          <td>Geo, Dude, Person, Yike</td>
      </tr>
      <tr>
          <td>Computer Sciece</td>
          <td>Dillilo</td>
          <td>Data Structures</td>
          <td>Julian</td>
          <td></td>
      </tr>
    </tbody>
    ,<tfoot>
        <td>A</td>
        <td>B</td>
        <td>C</td>
        <td>D</td>
        <td>E</td>
    </tfoot>
  </table>
</div>
