<div class="container">
  <div style="text-align: center;display: table-cell;vertical-align: middle;">
      <img src="images/logo.png" alt="">
  </div>

  <div class="grid_container">
    <div class="grid_header" style="grid-column: first/second;">Department</div>
    <div class="grid_header" style="grid-column: second/third;">Professor</div>
    <div class="grid_header" style="grid-column:third/fourth;">Course ID</div>


    <div class="grid_content">Computer Sciece</div>
    <div class="grid_content"><a href="/test_prof_profile">Antonella Dillilo</a></div>
    <div class="grid_content"><a href="/test_class_schedule">Data Structures</a></div>
    

    <div class="grid_content">Computer Sciece</div>
    <div class="grid_content">Hickey <div class="hover_test"><p>hours: Mon-Thur: 3-5</p> </div></div>
    <div class="grid_content">Web Development</div>


  
    <% grid_db.forEach(element => {%>
      <div class="grid_content"><%= element.department %></div>
      <div class="grid_content"><%= element.prof_name %></div>
      <div class="grid_content"><%= element.courseid %></div>
    <% }) %>
    
  </div>

</div>
