

<div class="container">
  <div style="text-align: center;display: table-cell;vertical-align: middle;">
      <img src="images/logo.png" alt="">
  </div>
  <div class="col-sm-12" style="text-align: center;display: table-cell;vertical-align: middle;"">
    <h1>Welcome!</h1>
    <p>You wanna schedule with course TAs, Bug Tutors, or professors?</p>
    <p>Come on and search here!</p>
    <input type = "text" name = "search" value = "">
    <p> Tags: </p>
    <button>Search by Professor</button>
    <button>Search by Bug Tutors</button>
    <button>Search by Courses</button>
    <button>Search by TA Names</button>
  </div>

  <div class="grid_container">
    <div style="grid-area: first/first/first/first;">Department</div>
    <div style="grid-area: second/second/second/second;">Professor</div>
    <div style="grid-area: first/third/first/thrid;">Course ID</div>
    <div style="grid-area: first/fourth/first/fourth;">TAs</div>
    <div style="grid-area: first/last/first/last;">BUGS Tutors</div>
  </div>
  <table> <caption>Sample Database</caption>
    <thead>
      <tr>
        <th>Department</th>
        <th>Professor</th>
        <th>Course ID</th>
        <th>TAs</th>
        <th>BUGS Tutors</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Anthropology</td>
        <td>Professor XYZ</td>
        <td>Anth2</td>
        <td>John, Cindy, Mac</td>
        <td>Chris</td>
      </tr>
      <tr>
          <td>Anthropology</td>
          <td>Professor ABC</td>
          <td>Anth55</td>
          <td>Q, W, E, R, T, Y, U, I, O, P, ?BGVSGFBFDGBFS</td>
          <td>Geo, Dude, Person, Yike</td>
      </tr>
      <tr>
          <td>Computer Sciece</td>
          <td>Dillilo</td>
          <td>Data Structures</td>
          <td>Julian</td>
          <td></td>
      </tr>
    </tbody>
    ,<tfoot>
        <td>A</td>
        <td>B</td>
        <td>C</td>
        <td>D</td>
        <td>E</td>
    </tfoot>
  </table>
</div>
