

<div class="container">
  <div style="text-align: center;display: table-cell;vertical-align: middle;">
      <img src="images/logo.png" alt="">
  </div>
  <div class="col-sm-6" style="text-align: center;display: table-cell;vertical-align: middle;"">
    <h1>Welcome!</h1>
    <p>You wanna schedule with course TAs, Bug Tutors, or professors?</p>
    <p>Come on and search here!</p>
    <input type = "text" name = "search" value = "">
    <p> Tags: </p>
    <button>Search by Professor</button>
    <button>Search by Bug Tutors</button>
    <button>Search by Courses</button>
    <button>Search by TA Names</button>
  </div>
</div>
