<div class="container">
  <div class="col-sm-12">
    <h1>Julian Berlin</h1>
  </div>
  <div class="col-sm-6">
    <img src="images/Julian.jpg" alt="App designer Julian Berlin">
  </div>
  <div class="col-sm-6">
    <p>Hi everyone, my name is Julian. I am excited to be working on this project!</p>
  </div>
</div>
