<div class="container">
  <h1>Julian Berlin</h1>
  <div class="col-sm-6">
    <img src="images/Julian.jpg" alt="Developer Julian Berlin">
  </div>
  <div class="col-sm-6">
    <p style="text-indent: 20px;">Hi everyone, my name is Julian. I am a senior at Brandeis University pursing a Bacholors of Science in Computer Science and Envrionmental Studies with an Economics minor. This project is my first time building a full website and I have found the process very enjoyable. If you have any tips on how to improve our websites functionality, I would love to hear your thoughts!</p>
    <p style="text-indent: 20px;">I personally invested in Brandeis Timetable as I belive it solves a campus wide need. I often have add to rely on unstable means to discover professor office hours. If I am not in a professors class, I would have to email a professor for their office hours and hope they replay or convince one of their students to show me their latte page. Brandeis Timetable conviently saves me the hassle.</p>
    <p style="text-indent: 20px;">When I'm not working on improving Brandeis Timetable, you can generally find me relaxing with friends or inline for my third plate at Sherman. I'm hoping to graduate Brandeis and begin working as a software engineer next year.</p>
  </div>
</div>
