<div class="container">
  <div class="col-sm-6">
    <img src="images/logo.png" alt="">
  </div>
  <div class="col-sm-6">
    <h1>Contacts</h1>
      <ul>
      <% contacts.forEach(contact => {%>
        <li> <%= contact.name %>:  <%= contact.email %>: <%= contact.message %> </li>
      <% }) %>
      </ul>
  </div>
</div>      
