<div class="container">
    <h1>Antonella Dillilo</h1>
    <div class="col-sm-6">
        <img src="images/Julian.jpg" alt="Test Pciture">
    </div>
    <div class="col-sm-6">
        <ul>Courses Taught
            <li>Intro to Python</li>
            <li>Java Topics</li>
            <li>Data Structures</li>
        </ul>
        <p>Office Hours: Mon-Thur 6-8pms</p>
    </div>
</div>