<div class="container">
    <div class="col-sm-6">
      <img src="images/logo.png" alt="">
    </div>
    <div class="col-sm-6">
      <h1>TestGridJSON</h1>
        <ul>
        <% grid_db.forEach(grid => {%>
          <li> <%= grid.a %>:  <%= grid.b %> </li>
        <% }) %>
        </ul>
    </div>
  </div>     