<div class="container">

    <h1>Test Class Schedule for Data Structures</h1>

    <div class="schedule_container">
        <div class="schedule_header"></div>
        <div class="schedule_header">Monday</div>
        <div class="schedule_header">Tuesday</div>
        <div class="schedule_header">Wednesday</div>
        <div class="schedule_header">Thursday</div>
        <div class="schedule_header">Friday</div>
        <div class="schedule_header">Saturday</div>
        <div class="schedule_header">Sunday</div>
        <div class="schedule_content">6:00 AM</div>
        <div class="schedule_content"></div>
        <div class="schedule_content"></div>
        <div class="schedule_content"></div>
        <div class="schedule_content"></div>
        <div class="schedule_content"></div>
        <div class="schedule_content"></div>
        <div class="schedule_content"></div>
        <div class="schedule_content">7:00AM</div>
        <div class="schedule_content"></div>
        <div class="schedule_content"></div>
        <div class="schedule_content"></div>
        <div class="schedule_content"></div>
        <div class="schedule_content"></div>
        <div class="schedule_content"></div>
        <div class="schedule_content"></div>
        <div class="schedule_content"></div>
        <div class="schedule_content"></div>
        <div class="schedule_content"></div>
        <div class="schedule_content"></div>
        <div class="schedule_content"></div>
        <div class="schedule_content"></div>
        <div class="schedule_content"></div>
        <div class="schedule_content"></div>
        <div class="schedule_content"></div>
        <div class="schedule_content"></div>
        <div class="schedule_content"></div>
        <div class="schedule_content"></div>
        <div class="schedule_content"></div>
        <div class="schedule_content"></div>
        <div class="schedule_content"></div>
        <div class="schedule_content"></div>
        <div class="schedule_content"></div>
        <div class="schedule_content"></div>
        <div class="schedule_content"></div>
        <div class="schedule_content"></div>
        <div class="schedule_content"></div>
        <div class="schedule_content"></div>
        <div class="schedule_content"></div>
        <div class="schedule_content"></div>
        <div class="schedule_content"></div>
        <div class="schedule_content"></div>
        <div class="schedule_content"></div>
        <div class="schedule_content"></div>
        <div class="schedule_content"></div>
        <div class="schedule_content"></div>
        <div class="schedule_content"></div>
        <div class="schedule_content"></div>
        <div class="schedule_content"></div>
        <div class="schedule_content"></div>
        <div class="schedule_content"></div>
        <div class="schedule_content"></div>
        <div class="schedule_content"></div>
        <div class="schedule_content"></div>
        <div class="schedule_content"></div>
        <div class="schedule_content"></div>
    </div>
    </div>

</div>